.main-section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.message-stream-container {
  // header height - 50px; compose box - 80px; compose toolbar - 20px, compose section margin - 10px*2
  height: calc(100vh - 50px - 80px - 20px - 10px - 10px - 40px);
  width: 100%;
  overflow: auto;
  word-break: break-word;
  // margin: 0 10px;

  .message-stream {
    margin: 0 20px;
  }
}
.header-wrapper {
  height: 50px;
}

.compose-section {
  margin: 10px 20px;
  // Quill editor customization
  .oak-editor {
    .ql-container {
      height: 80px !important;
      overflow: auto;

      border-bottom: 4px solid transparent !important;
      background-color: var(--color-background-5);
      // border-radius: 6px;
      box-shadow: var(--bs-sm) !important;
      margin: 4px 0;
    }

    &.active {
      .ql-container {
        border-bottom: 4px solid var(--color-primary-1) !important;
      }
    }

    .quill {
      display: flex;
      flex-direction: column-reverse;
      .ql-editor {
        min-height: 0px !important;
        padding: 10px 10px !important;
      }
    }

    .ql-picker.ql-expanded .ql-picker-options {
      bottom: 100% !important;
      top: auto !important;
    }
  }
}
