.left-panel {
  display: grid;
  row-gap: 10px;
  .top-header {
    user-select: none;
    padding: 0 10px;
    height: 50px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    .chat-sidebar-switch {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
  .second-row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }
}

.people-list {
  .people-list-title {
    padding: 16px 10px;
  }
}

.channel-list {
  .channel-list-title {
    padding: 16px 10px;
  }
}

.people-link {
  user-select: none;
  padding: 6px 10px;
  cursor: pointer;
  color: var(--color-foreground-4);
  &:hover {
    background-color: var(--color-background-4);
  }

  &.active {
    background-color: var(--color-primary-1);
    color: var(--color-foreground-1);
  }
}
